* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    background-position: center;
    background-size: cover;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    margin-top: -10px;
    cursor: pointer;
}

.logo-text {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 0px;
    margin-right: 520px;
    color: white;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}

li a:hover {
    background: white;
    transition: 0.6s;
}

.navbar a:hover {
    color: black;
}

.forgot-password-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 400px;
}

.forgot-password-box h2 {
    margin-bottom: 20px;
}

.forgot-password-box form {
    display: flex;
    flex-direction: column;
}

.forgot-password-box label {
    margin: 10px 0;
    text-align: left;
    font-size: 20px;
}

.forgot-password-box input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    background: rgba(169, 169, 169, 0.3);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 19px;
}

.forgot-password-box button {
    padding: 5px;
    background: rgb(238, 234, 234);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    width: 200px;
    margin: 15px auto; /* Adjust the margin-top to move the button down */
}


.forgot-password-box button:hover {
    background: rgb(236, 4, 4);
    color: black;
    transition: 0.5s;
}

.forgot-password-box p {
    margin-top: 15px;
}
