body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.center-box {
  display: flex;
}


.transparent-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%; 
  max-width: 600px; 
}


.red-box {
  background-color: #ff0000;
  color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  margin: 20px 0;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
  margin: 0;
  font-size: 2em; 
  margin-bottom: 40px;
  text-align: center;
}

.recipient-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align:center;
  max-width:600px;
  width:80%;
  
  
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.recipient-form input {
  width: 100%;
  padding: 15px; 
  border: 1px solid #ccc;
  border-radius: 8px; 
  font-size: 1.2em; 
}

.recipient-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipient-form button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px; 
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  font-size: 1.2em; 
  margin: auto;
  margin-top: 20px;
}

.recipient-form button:hover {
  background-color: #45a049;
}

.recipient-form #message {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em; 
}

.recipient-form input[type="password"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2em;
}


.recipient-form input[type="password"] {
  margin-bottom: 8px;
}

.recipient-form #password-message {
  margin-top: 10px;
  font-size: 1em;
  color: #ff0000;
}


.password-requirements {
  font-size: 0.9em;
  margin-top: 5px;
  color: #555;
}

.login-text {
margin-top: 10px; 
font-size: 1.3em; 
color: #555;
text-align: center;
}

.login-text a {
color: #4CAF50; 
text-decoration: none; 
font-weight: bold;
font-size: 1.1em;
}

.login-text a:hover {
text-decoration: underline; 
}